@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.card {
    background-color: #6a1b9a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.card h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
}

.card p {
    margin: 10px 0 0;
    font-size: 3em;
    font-weight: 700;
}