/* filepath: /E:/Development/angular-firebase-realtime-user-count/src/app/app.component.scss */
header {
  background-color: #6a1b9a;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 0 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  transition: color 0.3s;
}

a:hover,
a.active {
  color: #ffeb3b;
}
